.books-list {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 20px;
}

.header {
  font-weight: bolder;
  font-size: large;
}
.divider {
  border-bottom: solid rgb(15, 15, 157) 1px;
  grid-column: 1/-1;
}

.books {
  display: contents;
}
