<div>{{ totalBooks }}</div>
<div class="books-list">
  <div class="header">aaName</div>
  <div class="header">Author</div>
  <div class="header">Series</div>
  <div class="header">Tropes</div>
  <div class="header">Owned</div>
  <div class="header">Genres</div>
  <div class="divider"></div>
  <div class="books" *ngFor="let book of books">
    <div>{{ book.aaName }}</div>
    <div>{{ book.author }}</div>
    <div>{{ book.series }}</div>
    <div>
      <mat-chip *ngFor="let trope of book.tropes">{{ trope.name }}</mat-chip>
    </div>
    <div>{{ book.ownedOrWish }}</div>
    <div>
      <mat-chip *ngFor="let genre of book.genres">{{ genre.name }}</mat-chip>
    </div>
  </div>
</div>
