<p>books works!</p>
<div class="table-grid">
  <div class="header">
    <div>Author</div>
    <div>Title</div>
    <div>Series</div>
    <div>Genres</div>
    <div>Tropes</div>
    <div>Owned</div>
    <div>Status</div>
    <div>Score</div>
    <div>Comment</div>
  </div>
  <div class="divider"></div>
  <div class="book" *ngFor="let book of allBooks">
    <div class="cell">
      <mat-form-field>
        <input matInput [value]="book.author" />
      </mat-form-field>
    </div>

    <div class="cell">{{ book.aaName }}</div>
    <div class="cell">{{ book.series }}</div>
    <div class="cell genre-cell">
      <ng-container *ngFor="let genre of book.genres">
        <div class="genre-chip">
          <mat-chip>{{ genre.name }}</mat-chip>
        </div>
      </ng-container>
    </div>
    <div class="cell trope-cell">
      <ng-container *ngFor="let trope of book.tropes">
        <div class="trope-chip">
          <mat-chip>{{ trope.name }}</mat-chip>
        </div>
      </ng-container>
    </div>
    <div class="cell">{{ getOwnedString(book.ownedOrWish) }}</div>
    <div class="cell">
      <mat-chip>
        {{ getStatusString(book.status) }}
      </mat-chip>
    </div>
    <div class="cell">{{ getScoreString(book.score) }}</div>
    <div class="cell">{{ book.comment }}</div>
    <!-- <mat-divider class="divider"></mat-divider> -->
  </div>
</div>
