/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: rgb(254, 210, 219);
  font-weight: 600;
  letter-spacing: 1px;
  font-family: sans-serif;
  color: rgb(28, 57, 145);
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  font-weight: 600;
  letter-spacing: 1px;
  font-family: sans-serif;
  color: rgb(254, 210, 219);
}

.mat-mdc-standard-chip {
  color: rgb(254, 210, 219);
  --mdc-chip-elevated-container-color: #eb9a9a;
}

/* .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled)
  .mdc-evolution-chip__text-label {
  color: var(--mdc-chip-label-text-color, currentColor);
} */
