<h2 mat-dialog-title>Create a new book</h2>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div class="row mt-1">
      <mat-form-field appearance="outline" styleClass="mx-3 my-3">
        <mat-label>aa name</mat-label>
        <input matInput type="text" formControlName="aaName" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" styleClass="mx-3 my-3">
        <mat-label>Author</mat-label>
        <input matInput type="text" formControlName="author" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" styleClass="mx-3 my-3">
        <mat-label>Series</mat-label>
        <input matInput type="text" formControlName="series" />
      </mat-form-field>
    </div>

    <div class="row mb-3">
      <!--<mat-form-field appearance="outline" styleClass="mx-3 my-3">-->
      <!--<mat-label>Owned</mat-label>-->
      <mat-checkbox formControlName="ownedOrWish">Owned</mat-checkbox>
      <!--</mat-form-field>-->
    </div>

    <div class="row">
      <mat-form-field appearance="outline" styleClass="mx-3 my-3">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let status of statusOption" [value]="status.key">
            {{ status.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" styleClass="mx-3 my-3">
        <mat-label>Score</mat-label>
        <mat-select formControlName="score">
          <mat-option>Not read yet</mat-option>
          <mat-option *ngFor="let score of scoreOption" [value]="score.key">
            {{ score.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" styleClass="mx-3 my-3">
        <mat-label>Tropes</mat-label>
        <mat-select multiple formControlName="tropes">
          <mat-option *ngFor="let tropes of allTropes" [value]="tropes">
            {{ tropes.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" styleClass="mx-3 my-3">
        <mat-label>Genres</mat-label>
        <mat-select multiple formControlName="genres">
          <mat-option *ngFor="let genres of allGenres" [value]="genres">
            {{ genres.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" styleClass="mx-3 my-3">
        <mat-label>Comment</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>
    </div>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        mat-button
        type="submit"
        [disabled]="!bookForm.valid"
        [mat-dialog-close]="true"
        cdkFocusInitial
      >
        Create
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
