
<h2 mat-dialog-title>Create a new trope</h2>

<mat-dialog-content class="mat-typography">

  <form [formGroup]="tropeForm" (ngSubmit)="onSubmit()">
    <div class="mt-1">
      <mat-form-field appearance="outline" styleClass="mx-3 my-3">
        <mat-label>Trope name</mat-label>
        <input matInput type="text" formControlName="tropeName">
      </mat-form-field>
    </div>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="!tropeForm.valid" [mat-dialog-close]="true" cdkFocusInitial>Create</button>
    </mat-dialog-actions>

  </form>

</mat-dialog-content>

