<h2 mat-dialog-title>Create a new trope</h2>

<mat-dialog-content class="mat-typography">

  <form [formGroup]="tropeForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" styleClass="mx-3">
      <mat-label>Trope name</mat-label>
      <input matInput type="text" value="" formControlName="tropeName">
    </mat-form-field>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button type="submit" [disabled]="!tropeForm=valid" [mat-dialog-close]="true" cdkFocusInitial>Create</button>
    </mat-dialog-actions>

  </form>

</mat-dialog-content>

